<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Palettizr</title>
  <style>
    li, img {
      display: inline-block;
      width: 100px;
      height: 100px;
    }
  </style>
</head>
<body>

  <h1>Palettizr</h1>

  <input type="text" placeholder="Search" id="search">

  <ul>

  </ul>

<script src="js/main.js"></script>
</body>
</html>
