<% include partials/template/head.ejs %>
<body>
  <% include partials/template/header.ejs %>

  <div class="container results">
    <% topResults.forEach(function(each){ %>
      <div class="col-sm-4 imageResults">
        <img src="<%= each %>" alt="">
      </div>
    <% }) %>
  </div>




  <% include partials/template/footer.ejs %>
</body>
</html>
