<nav class="navbar navbar-default navbar-fixed-top">
  <a href="/"><h1>Palettizr</h1></a>

  <form action="/palette" method="GET">
    <div class="form-group">
      <input name="tag" type="text" class="form-control" placeholder="Search Palettes">
      <button class="btn btn-default">Go</button>
    </div>
  </form>

</nav>
